<div class="row">
    <div class="col-sm-4">
        <div class="category-item">
            <div class="img">

            </div>
            <div class="text">

            </div>
        </div>
    </div>
</div> <!-- end row -->

<div class="row">

    <div class="col-sm-12">
       <!-- <div class="row">
            <div  id="sidebar">
                <h3 class="text-center">Фильтр книг</h3>

                <div class="list-group">
                    <div class="list-group-item text-center">
                        <form>
                            <input type="text" class="form-control" placeholder="Поиск..." ng-model="search.name">
                        </form>

                        <form>
                            <h5>Выберите ценовой диапозон: </h5>
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="price" ng-value="100"> 0 - 100
                                </label>
                            </div>

                            <div class="radio">
                                <label>
                                    <input type="radio"  ng-model="price" ng-value="300"> 100 - 300
                                </label>
                            </div>

                            <div class="radio">
                                <label>
                                    <input type="radio"  ng-model="price" ng-value="500"> 300 - 500
                                </label>
                            </div>

                            <div class="radio">
                                <label>
                                    <input type="radio"  ng-model="price" ng-value="0"> Все книги
                                </label>
                            </div>


                        </form>

                    </div>
                </div>
            </div>
        </div>-->

            <div class="col-xs-12 col-sm-6 col-lg-3"
                 ng-repeat="item in items | filter: search | orderBy: 'name' | selectedPrice: price ">
                <div class="item">

                    <a ng-href="#/item/{{item.id}}">
                        <img ng-src="/image/{{item.imagesId[0]}}"
                             height="280" width="210" alt="{{item.name}}"/>
                        <div class="info">
                            <p>{{item.description | descsize}}</p>
                        </div>
                    </a>

                    <!--<div class="label label-success price">
                        <span class="glyphicon glyphicon-tag"></span> {{book.price}} грн.
                    </div>-->

                </div>

                <a ng-href="#/item/{{item.id}}" class="itemTitle" data-toggle="tooltip" data-placement="right"
                   title="{{item.name}}"><h4 align="center">{{item.name}}</h4></a>
                <!--<p id="bookDesc" >{{book.description | descsize}}</p>-->

                <p class="text-center"><!--<a class="btn btn-primary" ng-href="#/book/{{book.id}}" role="button">Подробнее &raquo;</a>-->
                    <a class="btn btn-primary"  ng-click="addToCart(item)" role="button">{{'main.buy' | translate }} за {{item.price}} грн. &raquo;</a></p>

            </div>


    </div>
    <!--/.col-xs-12.col-sm-8-->

</div><!--/row-->


